<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Murilo de Paula">
	<link typr="text/css" href="../css/style.css" rel="stylesheet">
	<title>Projeto WEB</title>
</head>
<body>
<div class="container">
	<header>
		<a href="../index.html">
			<img src="../img/logo.png"
			class="logo">
		</a>
		<nav>
			<ul>
				<li>
					<a href="pag-capivara.html" 
					target="_self">Menu 1</a>
				</li>
				<li>
					<a href="pag-marmota.html" 
					target="_self">Menu 2</a>
				</li>
				<li>
					<a href="pag-prea.html" 
					target="_self">Menu 3</a>
				</li>
			</ul>
		</nav>
	</header>
	<hr> <!-- Adicionar linha -->
	<h4 align="center">Capivara</h4>
	<hr> <!-- Adicionar linha -->
	<section name="texto-conteudo"> <!-- Seção de conteúdo -->
		<a href="https://pt.wikipedia.org/wiki/Capivara#:~:text=A%20capivara%20(nome%20cient%C3%ADfico%3A%20Hydrochoerus,fam%C3%ADlia%20Caviidae%20e%20subfam%C3%ADlia%20Hydrochoerinae."
		target="_blank">
			<img src="../img/capivara-IMG.jpeg" 
		alt="Imagem de uma capivara" 
		title="Imagem de uma capivara" 
		height="100" width="150" /></a>
		<p>
			A capivara (nome científico: Hydrochoerus hydrochaeris) é uma espécie de mamífero roedor da família Caviidae e subfamília Hydrochoerinae. Alguns autores consideram que deva ser classificada em uma família própria. Está incluída no mesmo grupo de roedores ao qual se classificam as pacas, cutias, os preás e o porquinho-da-índia. Ocorre por toda a América do Sul ao leste dos Andes em habitats associados a rios, lagos e pântanos, do nível do mar até 1 300 m de altitude. Extremamente adaptável, pode ocorrer em ambientes altamente alterados pelo ser humano.
		</p>
	</section>
	<footer>
		<p>Desenvolvimento Web Básico 2021.</p>
		<div class="autor">Ícones feitos por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com</a>
		</div>
	</footer>
</div>
</body>
</html>